@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #27272A;
  --card-foreground: #ffffff;
  --popover: #18181b;
  --popover-foreground: #ffffff;
  --primary: #ff3333;
  --primary-foreground: #ffffff;
  --secondary: #27272A;
  --secondary-foreground: #ffffff;
  --muted: #3f3f46;
  --muted-foreground: #A0A0A9;
  --accent: #3f3f46;
  --accent-foreground: #ffffff;
  --destructive: #ff3333;
  --destructive-foreground: #ffffff;
  --border: #3f3f46;
  --input: #3F3F46;
  --ring: #d4d4d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

@keyframes pulsate-shadow {
  0% {
    box-shadow: 0 0 0px rgba(255, 51, 51, 0.6);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 51, 51, 0.6);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 51, 51, 0.6);
  }
}

.pulsating-shadow {
  animation: pulsate-shadow 1.5s infinite;
}
